

<div class="table-responsive"  class="collapse show"  id="weatherCollapse">
	<table class="table table-condensed table-borderless table-hover">
		<tbody>
			<tr *ngFor="let item of profiles;">

				<td (click)="onLoadSelectedProfile(item)">


					<span>{{item.profileName}}</span> <br>
					<small class="pt-2"><strong>Cities: </strong>
						<span *ngFor="let city of item.address">
							{{city}}. 
						</span>
					</small>
				</td>
				<span class="float-right btn btn-sm btn-danger"><small>x</small></span>
			</tr>
		</tbody>
	</table>
</div>

