<!-- WEATHER PROFILES -->
<div class="card">
	<button class="btn btn-activity bg-gradient text-white text-capitalize text-center py-4" type="button" data-toggle="collapse" data-target="#timezoneCollapse" aria-expanded="true" aria-controls="timezoneCollapse">Timezone Profiles <span class="fa fa-caret-down float-right"></span>
	</button>

	<timezone-profile></timezone-profile>
	<!--
	<div class="table-responsive" class="collapse show" id="timezoneCollapse">
		<table class="table table-condensed table-borderless table-hover">
			<tbody>
				<tr>
					<td>
						<span>Profile 1</span> <br>
						<small class="pt-2"><strong>Cities: </strong>
							<span>
								City 1
							</span>
						</small>
					</td>
					<span class="float-right btn btn-sm btn-danger"><small>x</small></span>
				</tr>
			</tbody>
		</table>
	</div>-->
</div>
