<!-- ACTIVITY FEEDS -->
<div class="card">
	<button class="btn btn-activity bg-gradient text-white text-capitalize text-center py-4" type="button" data-toggle="collapse" data-target="#weatherCollapse" aria-expanded="true" aria-controls="weatherCollapse">Weather Profiles <span class="fa fa-caret-down float-right"></span>
	</button>

	<weather-profile></weather-profile>
</div>

<!-- ACTIVITY FEEDS -->
<div class="card">
	<button class="btn btn-activity bg-gradient text-white text-capitalize text-center py-4" type="button" data-toggle="collapse" data-target="#timezoneCollapse" aria-expanded="false" aria-controls="timezoneCollapse">Timezone Profiles <span class="fa fa-caret-down float-right"></span>
	</button>


	<div class="table-responsive"  class="collapse"  id="timezoneCollapse">
		<table class="table table-condensed table-borderless table-hover">
			<tbody>
				<tr>
					<td>
						<span>Added new post</span> <br>
						<span class="mt-1 text-muted info-text-right float-right"> 04/11/2018: 7:30pm</span>
						<small class="pt-2">
						Post description or title 1</small><br>
						<small class="pt-3 text-muted">
						</small>
					</td>
				</tr>

				<tr>
					<td>
						<span>Added new post</span> <br>
						<span class="mt-1 text-muted info-text-right float-right"> 04/11/2018: 7:30pm</span>
						<small class="pt-2">
						Post description or title 2</small><br>
						<small class="pt-3 text-muted">
						</small>
					</td>
				</tr>

				<tr>
					<td>
						<span>Added new comment</span> <br>
						<span class="mt-1 text-muted info-text-right float-right"> 04/11/2018: 7:30pm</span>
						<small class="pt-2">
						Comment description or title</small><br>
						<small class="pt-3 text-muted">
						</small>
					</td>
				</tr>

				<tr>
					<td>
						<span>Added new friend</span> <br>
						<span class="mt-1 text-muted info-text-right float-right"> 04/11/2018: 7:30pm</span>
						<small class="pt-2">
						Friend description or title</small><br>
						<small class="pt-3 text-muted">
						</small>
					</td>
				</tr>

				<tr>
					<td>
						<span>Added new post</span> <br>
						<span class="mt-1 text-muted info-text-right float-right"> 04/11/2018: 7:30pm</span>
						<small class="pt-2">
						Post description or title 3</small><br>
						<small class="pt-3 text-muted">
						</small>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>