<div class="table-responsive" class="collapse show"  id="weatherCollapse">
	<table class="table table-condensed table-borderless table-hover">
		<tbody>
			<tr>
				<td>
					<span>Profile 1</span> <br>
					<span class="text-primary info-text-right float-right"> <small>Current</small></span>
					<small class="pt-2">
					Description 1</small><br>
					<small class="pt-3 text-muted">
					</small>
				</td>
			</tr>

			<tr>
				<td>
					<span>Profile 2</span> <br>
					<span class="mt-1 text-muted info-text-right float-right"></span>
					<small class="pt-2">
					Description 2</small><br>
					<small class="pt-3 text-muted">
					</small>
				</td>
			</tr>
		</tbody>
	</table>
</div>