<!-- Modal -->
<div id="notFoundModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" [ngClass]="notFound=='true' ? 'modal fade show fade-show': 'modal fade'">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-danger" id="modalLabel">Address Not Found!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        The Address you are looking for does not exist.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="closeModal()">Close</button>
      </div>
    </div>
  </div>
</div>

<section id="search-weather">
	<div class="d-none d-sm-none d-md-block">
		<form class="form-inline float-right"  (submit)="addCityCountry()">
			<div class="form-group">
				<input type="email" class="form-control" [(ngModel)]="input.search" [ngModelOptions]="{standalone: true}" placeholder="City, Country">
			</div>
			<button type="submit" class="btn btn-outline-primary">Add Place</button>
		</form>
		<br><br>
		<small class="container-text">i.e. London, Uk | Manila, PH | New York, USA</small>
	</div>	

	<div class="d-block d-sm-block d-md-none">
		<form class="form"  (submit)="addCityCountry()">
			<div class="form-group">
				<input type="email" class="form-control" [(ngModel)]="input.search" [ngModelOptions]="{standalone: true}" placeholder="City, Country">
				<small class="container-text">i.e. London, Uk | Manila, PH | New York, USA</small>
			</div>
			<br>
			<button type="submit" class="btn btn-outline-primary float-right btn-sm">Add Place</button>
		</form><br>
	</div>	
</section>

<section id="weather-list" class="container-fluid mt-5">
	<div class="table-responsive">
		<table class="table table-condensed table-borderless table-hover">
			<tbody>
				<tr *ngFor="let item of items; let i=index">
					<td  class="px-2">
						<h5 class="text-primary">{{item.city}}, {{item.country}}</h5>
						
						<h4 class="text-info info-text-right float-right"> {{item.temperature}}°c</h4>
						<h6 class="pt-2">{{item.weather}}</h6><br>
					</td>
					<td width="20px;"><span class="float-right btn btn-sm btn-danger rounded-circle" 
						(click)="removeCityCountry(i)">x</span></td>
				</tr>
			</tbody>
		</table>
	</div>
</section>
